<h1>Editing Interview</h1>

<%= render 'form', interview: @interview %>

<%= link_to 'Show', user_interview_path(current_user, @interview) %> |
<%= link_to 'Back', user_interviews_path(current_user) %>
