<p id="notice"><%= notice %></p>

<h1>Interviews</h1>
<% if current_user.id.to_s == params[:user_id] %>
  <%= render partial: "own_interviews", locals: {interviews: @interviews} %>
<% else %>
  <%= render partial: "other_interviews", locals: {interviews: @interviews} %>
<% end %>
