<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Interviews</h1>
<% if current_user == @user %>
  <%= render partial: "own_interviews", locals: {interviews: @interviews} %>
<% else %>
  <%= render partial: "other_interviews", locals: {user: @user, interviews: @interviews, scheduled_interview: @scheduled_interview} %>
<% end %>
